*{
    font-family: Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --blue-dark: #0e141e;
    --orange-color: #EC9022;
    --orange-dark-color: #da831a;
    --white-color: white;
    --white-shade: #f2f5f7;
    --green-color: #40af0c;
}

header{
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--blue-dark);
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
    padding: 20px 100px;
    transition: 0.5s;
}

.profile{
    display: flex;
    align-items: center;
    column-gap: 8px;
    cursor: pointer;
}

.profile img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.profile i{
    color: var(--white-color);
}

.profile span{
    font-size: 13px;
    font-weight: 500;
    color: var(--white-color);
}

.logo{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: var(--orange-color);
    column-gap: 8px;
}

.logo .bx{
    font-size: 24px;
}

.profile-detail{
    display: flex;
    flex-direction: column;
    background: var(--white-color);
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
    position: absolute;
    margin: 16px;
    right: 80px;
    top: 55px;
    max-height: 0px;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.6s;
    
}

.profile-detail a{
    font-size: 16px;
    font-weight: 500;
    color: var(--blue-dark);
    padding: 16px;
    display: block;
}

.profile-detail a:hover{
    color: var(--orange-color);
    transition: 0.4s;
}

.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.section_01{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin: 50px 250px;


}

.sub-container{
    display: flex;
    align-items: center;    
    justify-content: space-between;
    padding: 30px 100px;
    background-color: var(--white-color);
    border-bottom: 1px solid #c8d2db;
    width: 100%;
}

.topic{
    padding: 40px 150px 20px 150px;
}

.grid-div{
    width: 100%;
    height: auto;
    padding: 0 250px 30PX 250PX;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.year{
    border: 1px solid #eaeaec;
    border-radius: 0.5rem;
    padding-right: 80px;
    width: 100%;
    height: auto;
    cursor: pointer;
    padding: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.text{
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
}

.admin-btn{
    font-size: 16px;
    font-weight: 600;
    height: 50px;
    background-color: var(--orange-color);
    border: 1px solid var(--orange-dark-color);
    color: var(--white-color);
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 30px;
    flex-basis: 30%;
}

.admin-btn:hover{
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
}

.admin-btn-disable{
    font-size: 16px;
    font-weight: 600;
    height: 50px;
    background-color: var();
    border: none;
    color: var(--blue-dark);
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 30px;
    flex-basis: 30%;
}

.admin-btn-disable:hover{
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
}

.row-sort{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.row-sort label{
    margin-left: 10px;
}

.btn{
    padding: 8px;
    background-color: var(--orange-color);
    border-radius: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    width: 200px;
    height: 50px;
    text-align: center;
    margin: auto;
}

.btn:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    background-color: var(--orange-dark-color);
}

.progress_bar{
    position: relative;
    width: 75%;
    height: 5px;
    background: #e8e9eb;
    margin-bottom: 30px;
}

.progress{
    background-color: var(--blue-dark);
    height: 100%;
    width: 50px;
}

.section_02{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    flex-direction: column;
    flex-basis: 0%;
    padding: 30px 10px 30px 10px;
}

.table{
    width: 100%;
    height: auto;
    padding: 0 150px;
}

.sub-table{
    margin-bottom: 80px;
    border: 1px solid #eaeaec;
    border-radius: 0.5rem;
    display: grid;
    gap:  0px;
    grid-template-columns: repeat(2, 1fr);
}

.cell{
    display: flex;
    padding: 15px 30px;
    border: 1px solid #f3f7f7;
    color: #39424e;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.cell:hover{
    /* background: linear-gradient(270deg, rgba(235,144,36,0.0985644257703081) 0%, rgba(236,169,89,0.11817226890756305) 35%, rgba(255,252,252,1) 100%); */
    background: rgba(235,144,36,0.06);
}

.sub-table i{
    margin-right: 10px; 
    font-size: 28px; 
    color: #39424ea4;
}
table{
    border-spacing: 0px;
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
    border-collapse: collapse;
    border-radius: 10px;

}
thead{
    background-color: var(--blue-dark);
}
th{
    /* background-color: var(--blue-dark); */
    color: var(--orange-color);
    text-align: center;
    padding: 18px 30px;
    font-size: 18px;
}

tr{
    text-align: center;
    border-bottom: 1px solid #39424e0d;
}
tr:last-child {
    border-bottom: none;
}

td{
    padding: 20px;
}

.wrong{
    /* background: rgb(164, 20, 9);
    background: linear-gradient(270deg, rgba(235, 49, 36, 0.434) 60%, rgba(252,255,252,1) 100%); */
    border: 2px solid red;
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
}

.bx-check{
    color: green;
    font-size: 36px;
}

.bx-x{
    color: red;
    font-size: 36px;
}

.subjects{
    width: 400px;
    height: 50px;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
    display: flex;
    padding: 0 20px;
    background: #fff;
    line-height: 50px;
    align-items: center;
    margin-bottom: 30px;
    border: none;
    font-weight: bold;
    font-size: 14px;
}

.subjects:focus{
    outline: none;
}

.subjects option{
    padding: 30px;
}












@media(max-width: 1080px){
    header{
        padding: 18px 60px; 
    }
}

@media(max-width: 991px){
   header{
        padding: 18px 4%;
   }
}

@media(max-width: 852px){
    header{
        padding: 12px 4%; 
    }

    .grid-div{
        width: 100%;
        height: auto;
        padding: 0 10px 30PX 10PX;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}